
body{
    background-color: black;
    color:white;
}
.container{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: "Libre Baskerville", serif;
}
img{
    margin-top:20px;
  height: 300px;
  border:6px solid white;
}